* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F4F3;
    color: #26395B;
}

header h1, h2, h3, .hero h2 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600; 
    color: #26395B;
}

p, form input, form textarea, button {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300; 
    color: #26395B;
}

header {
    background-color: #EDE2AE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #26395B;
}

.hero {
    background-color: #D4CBE5;
    text-align: center;
    padding: 50px 20px;
}

.section {
    padding: 20px;
    text-align: center;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-content: center;
    margin-top: 40px; 
    padding: 0 20px; 
}

.profile {
    border: 1px solid #D4CBE5;
    padding: 15px;
    height: 500px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
}

.profile h3 {
    color: #26395B;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.profile p {
    color: #26395B;
    font-size: 1em;
}


button {
    background-color: #26395B;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #26395B;
    color: white;
    text-align: center;
    padding: 10px 0;
}
